@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

@layer utilities {
  @variants responsive {
    .right-text {
      text-align: -webkit-right;
    }

    .left-text {
      text-align: -webkit-left;
    }

    .center-text {
      text-align: -webkit-center;
    }

    .hide-scrollbar::-webkit-scrollbar {
      display: none;
    }
  }

  .swiper-pagination-bullet {
    background: white !important;
  }

  body {
    font-family: 'Figtree', sans-serif;
  }
  
  /* React Select Css changed from here */
  /* .css-11uhmi3-control {
    max-height: 42px !important;
  }
  .css-3w2yfm-ValueContainer {
    max-height: 42px !important ;
    flex-wrap: unset !important;
  }
  .css-1p3m7a8-multiValue {
    min-width: 0 !important;
  }
  .css-1hb7zxy-IndicatorsContainer {
    padding-block: 3px !important;
    max-height: 38px !important;
  }
  .css-ovqh0o-control {
    border: 2px solid #737373 !important;
  } */
  .css-1hb7zxy-IndicatorsContainer {
    padding-block: 3px !important;
  }

  .css-ovqh0o-control {
    border: 2px solid #737373 !important;
  }

  .swiper-pagination-bullet-active {
    background: white !important;
    /* Or any other color you want for the active bullet */
  }

  .ellipse-quarter-role {
    clip-path: ellipse(100% 70% at 0% 100%);
  }

  .ellipse-quarter-left {
    clip-path: ellipse(60% 54% at 15% 100%);
  }

  .ellipse-quarter-right {
    clip-path: ellipse(60% 54% at 87% 11%);
  }

  @media only screen and (max-width: 1024px) {
    .ellipse-quarter-left {
      clip-path: ellipse(50% 50% at 20% 100%);
    }
  }

  .ellipse-quarter-right {
    clip-path: ellipse(60% 54% at 87% 11%);
  }

  @media only screen and (max-width: 768px) {
    .ellipse-quarter-left {
      clip-path: ellipse(50% 45% at 15% 100%);
    }

    .ellipse-quarter-right {
      clip-path: ellipse(50% 45% at 87% 11%);
    }
  }

  @media only screen and (max-width: 480px) {
    .ellipse-quarter-left {
      clip-path: ellipse(38% 33% at 8% 100%);
    }

    .ellipse-quarter-right {
      clip-path: ellipse(40% 35% at 87% 11%);
    }
  }
}

@media (min-width: 768px) {
  .submit-section {
    /* Styles to move internet computer and big logo to top center position */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@keyframes translateYAnimation {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

.animate-translate-y {
  animation: translateYAnimation 1s ease-in-out infinite;
}

.CircularProgressbar-text {
  font-weight: "900" !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background-color: white;
  color: black;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}


/* scroll hidden css  */

::-webkit-scrollbar {
  width: 0px;
  /* Adjust the width of the scrollbar */
}

/* Customize the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: transparent;
  /* Color of the scrollbar thumb */
  border-radius: 5px;
  /* Roundness of the scrollbar thumb */
}

/* Change the scrollbar thumb color when hovered over */
::-webkit-scrollbar-thumb:hover {
  background: transparent;
  /* Darker color on hover */
}



#bgimage{
  background-image: url(../assets/images/Backgroundpattern.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}






/* Neon color variations */
.neon-red {
  filter: drop-shadow(0 0 5px red) drop-shadow(0 0 10px red);
}

.neon-blue {
  filter: drop-shadow(0 0 5px blue) drop-shadow(0 0 10px blue);
}

.neon-green {
  filter: drop-shadow(0 0 5px green) drop-shadow(0 0 10px green);
}

.neon-yellow {
  filter: drop-shadow(0 0 5px yellow) drop-shadow(0 0 10px yellow);
}

.neon-gray {
  filter: drop-shadow(0 0 5px #cdd8e7) drop-shadow(0 0 10px #c2ccda);
}

/* ////////line ellips  */
/* In your global CSS file */
.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}



/* driverjs  */

.driver-active-element{
  top: 60% !important;
}

.driver-popover.driverjs-theme {
  all: unset;
    box-sizing: border-box;
    color: #2d2d2d;
    margin: auto;
    padding: 15px;
    border-radius: 5px;
    min-width: 250px;
    max-width: 400px;
    box-shadow: 0 1px 10px #0006;
    z-index: 1000000000;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #fff;
}

.driver-popover.driverjs-theme .driver-popover-title {
  font-size: 20px;
}

.driver-popover.driverjs-theme .driver-popover-title,
.driver-popover.driverjs-theme .driver-popover-description,
.driver-popover.driverjs-theme .driver-popover-progress-text {
  color: #000;
}

.driver-popover.driverjs-theme button {
  flex: 1;
  text-align: center;
  /* background-color: #000; */
  /* color: #ffffff; */
  /* border: 2px solid #000; */
  text-shadow: none;
  font-size: 14px;
  padding: 15px 8px;
  border-radius: 6px;
}


.driver-popover.driverjs-theme .driver-popover-navigation-btns {
  justify-content: space-between;
  gap: 3px;
}

.driver-popover.driverjs-theme .driver-popover-close-btn {
  color: #9b9b9b;
  display: none !important;
}

.driver-popover.driverjs-theme .driver-popover-close-btn:hover {
  color: #000;
}

.driver-popover.driverjs-theme .driver-popover-arrow-side-left.driver-popover-arrow {
  border-left-color: #fde047;
}

.driver-popover.driverjs-theme .driver-popover-arrow-side-right.driver-popover-arrow {
  border-right-color: #fde047;
}

.driver-popover.driverjs-theme .driver-popover-arrow-side-top.driver-popover-arrow {
  border-top-color: #fde047;
}

.driver-popover.driverjs-theme .driver-popover-arrow-side-bottom.driver-popover-arrow {
  border-bottom-color: #fde047;
}


