@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities{
  @variants responsive {
    .right-text{
      text-align: -webkit-right;
    }
    .hide-scrollbar::-webkit-scrollbar {
      display: none;
    }
  }
  .ellipse-quarter-left {
    clip-path: ellipse(60% 54% at 15% 100%);
   
  }
  .ellipse-quarter-right {
    clip-path: ellipse(60% 54% at 87% 11%);
   
  }
}